<!doctype html>
<html lang="en">
  <head> 

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title></title>
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src=
"https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js">
    </script>
    <script>
        function showHideRow(row1, row2, row3) {
            $("#" + row1).toggle();
            $("#" + row2).toggle();
            $("#" + row3).toggle();
        }
    </script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
        th, td{
            text-align:center;
            padding:10px;
        }
        .heading{
            text-align: center;
            font-family: Comfortaa;
            margin-top:40px;
        }
        .scroll {
            border: none;
            padding: 5px;
            font: 24px/36px sans-serif;
            width: 200px;
            height: 200px;
            overflow: scroll;
            }
          ::-webkit-scrollbar {
            width: 12px;
            height: 12px;
            }
            ::-webkit-scrollbar-track {
            border: 1px solid #BBDEFB;
            border-radius: 10px;
            }
            ::-webkit-scrollbar-thumb {
            background: #BBDEFB;
            border-radius: 10px;
            }
            ::-webkit-scrollbar-thumb:hover {
            background: #01579B;
            }
            .pouchadd{
                border-radius:35px;
                background-color:#01579B;
                color:white;
                padding: 20px;
                margin-top:50px;
                margin-bottom:50px;
                width: 40%;
                font-family: Comfortaa;
                text-align:left;
            }
            .first{
                display:none;
              }
              .first1{
                display:none;
              }
              .first2{
                display:none;
              }
              .first3{
                display:none;
              }
              .cloud{
                height:100px;
                width:125px;
                opacity: 0.7;
                position: relative;
                transform: translateX(-100%);
                
              }
              .cloud1{
                animation: float 12s linear infinite;
              }
              .cloud2{
                animation: float 12s linear 3s infinite;
              }
              .cloud3{
                animation: float 12s linear 6s infinite;
                zoom:0.5;
              }
              .rec{
                width: 140px;
                height: 50px;
                background: #fff;
                border-radius: 50px;
                position: absolute;
                bottom: 0;
              }
              @keyframes float{
                0%{
                  transform: translateX(-100%);
                }
                100%{
                  transform: translateX(100vw);
                }
              }
              .vrec1{
                width: 50px;
                height: 85px;
                background: #fff;
                position:absolute;
                bottom: 0;
                border-radius: 50px;
                right: 10px;
              }
              .vrec2{
                width: 50px;
                height: 75px;
                background: #fff;
                position:absolute;
                bottom: 0;
                border-radius: 100px;
                right: 50px;
              }
    </style>
    <script>
        function change1(){
            let e = document.querySelector('.second');
            let e1 = document.querySelector('.second1');
            let e2 = document.querySelector('.second2');
            let e3 = document.querySelector('.second3');
            if (e.classList.contains('first')){
              e.classList.remove('first');
            }
            else{
              e.classList.add('first');
            }
            if (e1.classList.contains('first1')){
              e1.classList.add('first1');
            }
            if (e2.classList.contains('first2')){
                e2.classList.add('first2');
              }
            if (e3.classList.contains('first3')){
                e3.classList.add('first3');
            }
      
          }
          function change2(){
            let e = document.querySelector('.second');
            let e1 = document.querySelector('.second1');
            let e2 = document.querySelector('.second2');
            let e3 = document.querySelector('.second3');
            if (e1.classList.contains('first1')){
              e1.classList.remove('first1');
            }
            else{
              e1.classList.add('first1');
            }
            if (e.classList.contains('first')){
              e.classList.add('first');
            }
            if (e2.classList.contains('first2')){
                e2.classList.add('first2');
              }
            if (e3.classList.contains('first3')){
                e3.classList.add('first3');
            }
            
          }
          function change3(){
            let e = document.querySelector('.second');
            let e1 = document.querySelector('.second1');
            let e2 = document.querySelector('.second2');
            let e3 = document.querySelector('.second3');
            if (e2.classList.contains('first2')){
              e2.classList.remove('first2');
            }
            else{
              e2.classList.add('first2');
            }
            if (e1.classList.contains('first1')){
              e1.classList.add('first1');
            }
            if (e.classList.contains('first')){
                e.classList.add('first');
              }
              if (e3.classList.contains('first3')){
                e3.classList.add('first3');
            }
      
          }
          function change4(){
            let e = document.querySelector('.second');
            let e1 = document.querySelector('.second1');
            let e2 = document.querySelector('.second2');
            let e3 = document.querySelector('.second3');
            if (e3.classList.contains('first3')){
              e3.classList.remove('first3');
            }
            else{
              e3.classList.add('first3');
            }
            if (e1.classList.contains('first1')){
              e1.classList.add('first1');
            }
            if (e2.classList.contains('first2')){
                e2.classList.add('first2');
              }
              if (e.classList.contains('first')){
                e.classList.add('first');
            }
      
          }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body style ="background-color:#BBDEFB">
   
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style = "color:#87ceeb;font-family:Comfortaa">DropsOfLife |</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/about" style = "font-family:Comfortaa">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/services" style = "font-family:Comfortaa">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="https://github.com/ArkiGhosh/Blood-Donation-Connectivity" style = "font-family:Comfortaa"><i class="fa fa-github fa" aria-hidden="true"></i></a>
              </li>
            </ul>
            <div class = "nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style = "color:#87ceeb;font-family:Comfortaa">
                    More Options
                </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/hospitalprofile" style = "font-family:Comfortaa">
                            <i class = "fa fa-user" aria-hidden = "true"></i>
                            My Profile
                        </a></li>
                        <li><a class="dropdown-item" href="/" style = "font-family:Comfortaa">
                            <i class="fa fa-power-off" aria-hidden = "true"></i>
                            Logout
                        </a></li>
                    </ul>
            </div>
            </div>
        </div>
    </nav>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show my-0" role="alert">
          <strong>{{message}}</strong>
        </div>
        {% endfor %}
    {% endif %}

    <div class = "cloud cloud1">
        <div class = "rec"></div>
        <div class = "vrec1"></div>
        <div class = "vrec2"></div>
      </div>
  
      <div class = "cloud cloud3">
        <div class = "rec"></div>
        <div class = "vrec1"></div>
        <div class = "vrec2"></div>
      </div>
    
<div class="heading">
    <h2>
        <b>
        Welcome to Hospital Dashboard
        </b>
    </h2>
</div>
<div class="options" style = "text-align:center;padding: 10px; margin-top:30px">
    <button class="btn btn-primary" type="button" onclick="change1()" style="margin-right:50px; padding:10px; width:200px">
      View Pouches
  </button>
  <button class="btn btn-primary" type="button" onclick="change2()" style="margin-left:50px;padding:10px; width:200px">
    Add pouches
  </button>
  <button class="btn btn-primary" type="button" onclick="change3()" style="margin-left:50px;padding:10px; width:200px">
    View Pouch Bookings
  </button>
  <button class="btn btn-primary" type="button" onclick="change4()" style="margin-left:50px;padding:10px; width:200px">
    View Donation Bookings
  </button>
  </div>
{% block body%}

<div class = "first second">
<div class="heading">
    <h2>
        <b>
        All pouches
        </b>
    </h2>
</div>
<div class = "my-5" style="border-radius:5px !important;overflow:auto; height:250px;"> 
<table style="border-radius:10px !important;overflow:hidden; border-collapse:collapse; width:80%; margin:auto; font-family:Comfortaa;">
    <thead class="thead-dark">
        <tr style = "background-color:#01579B;color:white" >
            <th scope="col"  style="padding:10px;font-size:17px;">Pouch ID</th>
            <th scope="col"  style="padding:10px;font-size:17px">Blood Group</th>
            <th scope="col"  style="padding:10px;font-size:17px">Booking Status</th>
            <th scope="col"  style="padding:10px;font-size:;"></th>
        </tr>
    </thead>
    <tbody>
        {% for h  in pouches %}
        <tr style="background-color:#4FC3F7">
            <td style = "font-family:Comfortaa;font-size:17px;padding:10px">{{h.0}}</td>
            <td style = "font-family:Comfortaa;font-size:17px;padding:10px">{{h.10}}</td>
            <td style = "font-family:Comfortaa;font-size:17px;padding:10px">{{h.9}}</td>
            <td style = "font-family:Comfortaa;font-size:17px;padding:10px">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" onclick="showHideRow('hidden_row{{h.0}}1','hidden_row{{h.0}}2','hidden_row{{h.0}}3')">
                        <b><i class="fa fa-angle-down" aria-hidden="true" style = "color: black"></i></b>
                    </button>
            </td>
        </tr>
        <tr id="hidden_row{{h.0}}1" class="hidden_row" style = "display:none; padding:10px; background-color:#81D4FA">
            <td style = "padding:10px">Weight: {{h.2}}kg</td>
            <td style = "padding:10px">Height: {{h.3}}cm</td>
            <td style = "padding:10px">Covid Status: {{h.4}}</td>
            <td style = "padding:10px">Age: {{h.5}}</td>
        </tr>
        <tr id="hidden_row{{h.0}}2" class="hidden_row" style = "display:none; padding:10px; background-color:#81D4FA">
            <td style = "padding:10px">Volume: {{h.6}}ml</td>
            <td style = "padding:10px">Gender: {{h.7}}</td>
            <td style = "padding:10px">Donation Date: {{h.8}}</td>
            <td style = "padding:10px">Additional Data: {{h.11}}</td>
        </tr>
        <tr id="hidden_row{{h.0}}3" class="hidden_row" style = "display:none; padding:5px;margin-bottom: 5px; background-color:#81D4FA">
            <td></td>
            <td></td>
            <td></td>
            <td style = "padding:5px">
                <form method="post" onsubmit="return confirm('Are you sure you want to delete');">
                    {% csrf_token %}
                <input type="hidden" name="delpouch" value="{{h.0}}">
                <button class="btn btn-primary" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        
        {% endfor %}
    </tbody>
</table>
</div>
</div>


<div class = "first1 second1">
<div class = "pouchadd container-fluid form-group" style="font-family:Comfortaa;">
    <h4 class = "my-3" style="text-align:center">Add Pouch</h4>
    <table style="border-radius:10px !important;overflow:hidden; border-collapse:collapse; width:100%; margin:auto; font-family:Comfortaa;">
        <form method="post" onsubmit="return confirm('Have you verified all information of the pouch');"> 
            {% csrf_token %}
        <tbody>
            <tr>
                <td><label>Weight</label></td>
                <td><input type="number" name="Pwt" class="form-control"></td>
                <td><label>Height</label></td>
                <td><input type="number" name="Pht" class="form-control"></td>
            </tr>
            <tr>
                <td><label>Covid Status</label></td>
                <td><select class="form-select" name = "Pcs" aria-label="Default select example">
                    <option selected>Covid status</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select></td>
                <td><label>Age</label></td>
                <td><input type="number" name="Page" class="form-control"></td>
            </tr>
            <tr>
                <td><label>Volume</label></td>
                <td><input type="number" name="Pvol" class="form-control"></td>
                <td><label>Gender</label></td>
                <td><select class="form-select" name = "PG" aria-label="Default select example">
                    <option selected>Choose gender</option>
                    <option value="M">M</option>
                    <option value="F">F</option>
                </select></td>
            </tr>
            <tr>
                <td><label>Donation Date</label></td>
                <td><input type="date" name="PDD" class="form-control"></td>
                <td><label>Blood Group</label></td>
                <td><select class="form-select" name = "PBG" aria-label="Default select example">
                        <option selected>Choose blood group</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                </select></td>
            </tr>
            <tr>
                <td colspan="1"><label>Additional Data</label></td>
                <td colspan="3"><input type="text" name="PAdd" class="form-control"></td>
            </tr>
            <tr><td colspan="4"><div class="my-3"><button class="btn btn-primary" type="submit">Add Pouch</button></div></td></tr>
    </form>
</tbody>
</table>
</div>
</div>

<div class = "first2 second2">
<div class="heading">
    <h2>
        <b>
        Pouch bookings
        </b>
    </h2>
</div>
<div class = "my-5" style="border-radius:5px !important"> 
<table style="border-radius:10px !important;overflow:hidden; border-collapse:collapse; width:80%; margin:auto; font-family:Comfortaa;">
    <thead class="thead-dark">
        <tr style = "background-color:#01579B;color:white" >
            <th scope="col"  style="padding:10px;font-size:17px;">Name</th>
            <th scope="col"  style="padding:10px;font-size:17px">Contact</th>
            <th scope="col"  style="padding:10px;font-size:17px">Email</th>
            <th scope="col"  style="padding:10px;font-size:17px">Address</th>
            <th scope="col"  style="padding:10px;font-size:;">Pouch ID</th>

            <th scope="col"  style="padding:10px;font-size:;"></th>
        </tr>
    </thead>
    <tbody>
        {% for book  in recbook %}
        
        <tr style="background-color:#4FC3F7">
            <td style = "font-family:Comfortaa;font-size:17px;padding:10px">{{book.16}}</td>
            <td style = "font-family:Comfortaa;font-size:17px;padding:10px">{{book.17}}</td>
            <td style = "font-family:Comfortaa;font-size:17px;padding:10px">{{book.12}}</td>
            <td style = "font-family:Comfortaa;font-size:17px;padding:10px">{{book.18}}</td>
            <td style = "font-family:Comfortaa;font-size:17px;padding:10px">{{book.0}}</td>
            <td style = "padding:5px">
                <form method="post" onsubmit="return confirm('Affirm Pouch delivery');">
                    {%csrf_token%}
                    <input type="hidden" name="Bookemail" value="{{book.12}}">
                    <input type="hidden" name="BookPID" value="{{book.0}}">
                    <input type="hidden" name="BookTime" value="{{book.14.isoformat}}">
                    <input type="hidden" name="BookDate" value="">
                    <input type="hidden" name="deletebooking" value="delete">
                    <button class="btn btn-primary" type="submit" style="margin-top:2px;margin-bottom:2px;">Processed Booking</button>
            </td>
        </tr>
        
        {% endfor %}
    </tbody>
</table>
</div>
</div>


<div class = "first3 second3">
<div class="heading">
    <h2>
        <b>
        Donation slot bookings
        </b>
    </h2>
</div>
<div class = "my-5" style="border-radius:5px !important"> 
    <table style="border-radius:10px !important;overflow:hidden; border-collapse:collapse; width:80%; margin:auto; font-family:Comfortaa;">
        <thead class="thead-dark">
            <tr style = "background-color:#01579B;color:white" >
                <th scope="col"  style="padding:10px;font-size:17px;">Donor name</th>
                <th scope="col"  style="padding:10px;font-size:17px;">Donor email</th>
                <th scope="col"  style="padding:10px;font-size:17px;">Contact number</th>
                <th scope="col"  style="padding:10px;font-size:17px;">Donor address</th>
                <th scope="col"  style="padding:10px;font-size:17px">Donation time and date</th>
            </tr>
        </thead>
        <tbody>
            {% for slot in slots %}
            <tr style="background-color:#4FC3F7">
                <td style = "font-family:Comfortaa;font-size:17px;padding:10px">{{slot.4}}</td>
                <td style = "font-family:Comfortaa;font-size:17px;padding:10px">{{slot.1}}</td>
                <td style = "font-family:Comfortaa;font-size:17px;padding:10px">{{slot.5}}</td>
                <td style = "font-family:Comfortaa;font-size:17px;padding:10px">{{slot.6}}</td>
                <td style = "font-family:Comfortaa;font-size:17px;padding:10px">{{slot.2}}</td>
                
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
</div>


{% endblock body%}


<div class = "cloud cloud2">
    <div class = "rec"></div>
    <div class = "vrec1"></div>
    <div class = "vrec2"></div>
  </div>

<div class="siteFooterBar py-2" style = "text-align: center">
  <div style = "font-family:Comfortaa"><h5><b>A project by</b></h6></div>
  <div class="content">
    <div class="foot" style = "font-family:Comfortaa;"><h5><b>Inspired <img src="/static/newlogo.png" height = "50" weight = "50"> Engine</b></h5></div>
          <!--<div class="foot" style = "font-family:Comfortaa"><h5><b>Inspired Engine</b></h5></div>-->
  </div>
</div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>
